*{
    margin: 5px;
}

.headerTitle{
    text-align: left;
    font-family: 'Overpass', Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    padding: 5px;
    border-bottom: 2px solid darkblue;
}
.footerTitle{
    text-align: left;
    font-family: 'Overpass', Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    border-top: 2px solid darkblue;
    margin-bottom: 0;
}

body{
    background-color: #f8f8ff;
    margin: 5px;
}
 .employeeFullName{
    color: black;
    font-weight: 300;
    font-size: 1.25em;
}

p {
    color: black;
    font-size: 1em;
    display: inline-flex;
}
img{
    margin: 5px auto;
    border-radius: 50%;
}

ul{
    list-style: none;
    text-align: center;
    margin-top: 30px;
    margin-right: 10px;;
}
li{
    font-size: .9em;
    margin: 5px 0;
}

.container {
    margin: 5px;
}

.employeeGrid{
    display: grid;
    grid-template-columns: 1fr;
    
}
.card{
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    border: 2px solid darkgray;
    border-radius: 15px;
    background-color: white;
    align-content: center;
    justify-content: center;
    
}
.card:hover{
    cursor: pointer;
    transform: rotate(3deg);

}

/*Modal Box*/
.modal-box {
    position: absolute;
    width: 375px;
    height: 385px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background: white;
    border-radius: 0.25em;
    border: 2px solid darkblue; 
}
.modal-content{
    margin: auto;
    text-align: center;

}
.closeButton{
    font-size: 2.2em;
    font-weight: 600;
    padding: 5px;
}
.closeButton:hover{
    cursor: pointer;

}

@media (min-width: 768px){
    .employeeGrid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 10px;
 }
}

@media(min-width: 1024px){
    .employeeGrid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

}